<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {% include "apps/header.html" %}
</head>
<body class="vertical-layout vertical-content-menu 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
{% include "apps/navigation/navbar.html" %}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">

        </div>
        {% include "apps/navigation/navmenu.html" %}
        <div class="content-body" style="height: 3540.78px;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{#ahould be in the bottom end#}
{% include "apps/footerscript.html" %}
</body>
</html>